/* body{
    background-color: thistle;
} */
.navbar {
    /* position: fixed;фиксируем положение */
    left: 0;/*Убираем отступы */
    top: 0;
    width: 100%;/*ширина на весь экран */
    height: 75px;/*высота */
    background: #FFF;/*цвет*/
  }
  .wrap {
    display: flex;/*чтобы логотип и список ul оказались в одеом ряду*/
    justify-content: space-between;/*пространство между логотипом и списком */
    
  }
  
/* .logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-right: 20px;
  } */
  
  .menu > li > a {
    text-decoration: none;/*убираем подчеркивание */
  }
  ul{
      margin-top: 30px;
      margin-left: 170px;
      list-style: none;/*убираем круглишки*/
  }
  .menu { 
    display: flex;/*список с вертикального в горизонтальный*/
  }
  
  .menu > li > a {
    padding: 0 20px;/*отступы между списками */
    color: #000;
  }
  .menu > li > a:hover {
    color: rgb(197, 190, 190);
  } 



  @media (max-width: 1000px) {
    .menu {
      display: none;/*когда уменьшим экран список изчезнет*/
    }
  


   /*Здесь мы делаем сам бургер  */
     .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 6px auto;
      background-color: #735CFF;
       transition: 0.2s; 
    } 
    .hamb__field {
        padding: 10px 20px;
        cursor: pointer; 
      } 
      ul{
        margin-left: 0;
      }
  
  /*блок который будет плано выдвегаться слева направо при клике на нашу иконку */
    .popup {
      position: fixed;
      top: 75px;
      left: -100%;/*изначально его не будет видно */
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }
    
    .popup.open {
      left: 0;    /*при нажатии на иконку left от -100 вернется в 0*/
    }
  
    .popup .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 50px 0;
      overflow: auto;
    }
  
    .popup .menu > li {
      width: 100%;
    }
  
    .popup .menu > li > a {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      font-size: 20px;
      font-weight: bold;
      color: #3f3f3f;
    }
  
    .popup .menu > li > a:hover {
      background-color: rgba(122, 82, 179, 0.1);
    } 
  }